<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiveview.dao.IProductRecommendDao" >
  <resultMap id="BaseResultMap" type="com.hiveview.entity.ProductRecommend" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="plate" property="plate" jdbcType="TINYINT" />
    <result column="recommend_order" property="recommendOrder" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="operator_id" property="operatorId" jdbcType="TINYINT" />
    <result column="productName" property="productName" jdbcType="VARCHAR" />
    <result column="categoryName" property="categoryName" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_id, plate, recommend_order, status, add_time, update_time, type, operator_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from j_product_recommend
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from j_product_recommend
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hiveview.entity.ProductRecommend" >
    insert into j_product_recommend (id, product_id, plate, 
      recommend_order, status, add_time, 
      update_time, type, operator_id
      )
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{plate,jdbcType=TINYINT}, 
      #{recommendOrder,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{type,jdbcType=TINYINT}, #{operatorId,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hiveview.entity.ProductRecommend" >
    insert into j_product_recommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="plate != null" >
        plate,
      </if>
      <if test="recommendOrder != null" >
        recommend_order,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="plate != null" >
        #{plate,jdbcType=TINYINT},
      </if>
      <if test="recommendOrder != null" >
        #{recommendOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hiveview.entity.ProductRecommend" >
    update j_product_recommend
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="plate != null" >
        plate = #{plate,jdbcType=TINYINT},
      </if>
      <if test="recommendOrder != null" >
        recommend_order = #{recommendOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hiveview.entity.ProductRecommend" >
    update j_product_recommend
    set product_id = #{productId,jdbcType=BIGINT},
      plate = #{plate,jdbcType=TINYINT},
      recommend_order = #{recommendOrder,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=TINYINT},
      operator_id = #{operatorId,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getList" resultMap="BaseResultMap" parameterType="com.hiveview.entity.ProductRecommend" >
    SELECT
    pr.id,
    pr.product_id,
    pr.plate,
    pr.recommend_order,
    pr.status,
    pr.add_time,
    pr.update_time,
    pr.type,
    pr.operator_id,
    p.title as productName,
    c.name as categoryName,
    u.user_name as userName
    FROM j_product_recommend pr INNER JOIN j_product p on pr.product_id = p.id
    LEFT JOIN j_class c on c.id = p.class_id
    LEFT JOIN sys_user u on pr.operator_id = u.sys_user_id
    WHERE p.status = 4
    <if test="productName != null" >
      AND p.title like CONCAT("%",#{productName,jdbcType=TIMESTAMP},"%")
    </if>
    <if test="productId != null" >
      AND pr.product_id = #{productId,jdbcType=BIGINT}
    </if>
    <if test="plate != null" >
      AND pr.plate = #{plate,jdbcType=TINYINT}
    </if>
    <if test="recommendOrder != null" >
      AND  pr.recommend_order = #{recommendOrder,jdbcType=INTEGER}
    </if>
    <if test="status != null" >
      AND pr.status = #{status,jdbcType=TINYINT}
    </if>
    <if test="type != null" >
      AND pr.type = #{type,jdbcType=TINYINT}
    </if>
  </select>
</mapper>